*{ box-sizing:border-box; }
html{ overflow-x: hidden; }
html,body{ min-height:100%; }
body{ margin:0; overflow-x: hidden; }
img,svg,video{ max-width:100%; height:auto; display:block; }
img,video{ box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
a{ color:inherit; }
