:root{
  --bg: #fafafa;
  --fg: #000000;
  --muted: #5b5b5b;
  --link: rgb(59, 82, 73);
  --link-hover: rgb(49, 72, 63);
  --border: rgba(0,0,0,.12);
  --border-green: rgba(59, 82, 73, 0.3);
  --maxw: 100%;
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;

  --font-sans: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
